<!--menu.html-->
<header class="mb-5">
<nav class=" navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div>
          <a href="/" class="navbar-brand">
              <img src="https://www.flaticon.com/svg/static/icons/svg/472/472499.svg" width="30"  height="30" alt="logo">
          </a>
          <a class="navbar-brand" href="/">
              Avocado
          </a>
      </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      {{ if .is_logged_in }}
        <!--Display this link only when the user is logged in-->
        <li class="nav-item" ><a class="nav-link" href="/u/profile">Профіль</a></li>
      {{end}} 
      {{ if not .is_logged_in }}
        <!--Display this link only when the user is not logged in-->
        <li class="nav-item"><a class="nav-link" href="/u/register">Реєстрація</a></li>
      {{end}} 
      {{ if not .is_logged_in }}
        <!--Display this link only when the user is not logged in-->
        <li class="nav-item"><a class="nav-link" href="/u/login">Авторизація</a></li>
      {{end}}
        {{ if .is_logged_in }}
            <!--Display this link only when the user is logged in-->
            <li class="nav-item"><a class="nav-link" href="/product/createProduct">Додати ставу</a></li>
        {{end}}
      {{ if .is_logged_in }}
        <!--Display this link only when the user is logged in-->
        <li class="nav-item"><a class="nav-link" href="/u/logout">Вийти</a></li>
      {{end}}
    </ul>
    </div>
</nav>
</header>